.button {
  width: 100px;
  float: right;
  margin-left: 20px;
  margin-top: -37px;
}

.icon {
  margin-left: -13px;
  margin-top: -13px;
  font-size: x-large;
}

.card {
  width: 90rem; margin-top: 30px; margin-left: -70px;
}

.cie {
  margin-top: -60px;
}


