.danger {
    background-color: #da2929;
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    top: 2px;
    box-sizing: border-box;
    height: 13.09px;
    width: 13.66px;
    border: 3px solid #da2929;
  }


  .success {
    background-color: #0FBA66;
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    top: 2px;
    box-sizing: border-box;
    height: 13.09px;
    width: 13.66px;
    border: 3px solid #0FBA66;
  }

  .warning {
    background-color: #FFBF00;
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    top: 2px;
    box-sizing: border-box;
    height: 13.09px;
    width: 13.66px;
    border: 3px solid #FFBF00;
  }