.button {
  width: 100px;
  float: right;
  margin-left: 20px;
  margin-top: -37px;
}

.card {
  width: 90rem;
  margin-top: 30px;
  margin-left: -70px;
}

.icon {
  margin-left: -13px;
  margin-top: -13px;
  font-size: x-large;
}

.content {
  margin-left: 20px;
  color: gray;
  text-align: justify;
}

h6:first-letter {
  color: red;
  font-size: xx-large;
}

p {
  display: inline;
}

.li {
margin-top: 25px;
}
