#alert {
  width: 100%;
  margin: auto;
}

.victra-green {
  color: #0fba66;
  background-color: rgba(128,246,115,0.5);
}

.victra-branding-red {
  color: #da2929;
  background-color: rgba(218, 41, 41, 0.1);
}

.victra-orange {
  color: #fc6e34;
  background-color: rgba(252, 110, 52, 0.1);
}

.victra-blue {
  color: #3678b7;
  background-color: rgb(54,120,183,0.1);
}

.victra-yellow {
    color: #FCA934;
    background-color: rgba(252, 169, 52, 0.1);
  }