.icon {
  margin-left: -13px;
  margin-top: -13px;
  font-size: x-large;
}

.card {
 margin-top: 30px; margin-left: -70px;
}

.notice {
  margin-top: -34px;
}

.btn-termination-disabled {
  opacity: 0.6;
  pointer-events: none;
}