.button {
  width: 100px;
  float: right;
  margin-left: 20px;
  margin-top: -37px;
}
.countcharacter {
  font-size: 10px;
  float: right;
}
.makevisible {
  width: 131px !important;
  float: left !important;
  margin-top: -37px;
  }

.card {
  width: 90rem;
  margin-top: 30px;
  margin-left: -70px;
}
.acknow {
  margin-left: 20px;
}
.submitbu {
    margin-top: -73px;
    float: right;
    margin-right: 12px;
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cards {
    width: 100%;
    margin-top: 30px;
    margin-left: -70px;
  }
}

.option {
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 12px;
}
@media only screen and (min-width: 600px) {
  .option {
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 12px;
    width: 100px;
  }
}

.icon {
  margin-left: -13px;
  margin-top: -13px;
  font-size: x-large;
}

.alert {
  margin-bottom: auto;
}

a {
  color: blue;
}

.list {
  margin-top: 25px;
}

.buttonSe {
  float: right ;
  width: 100px ;
  margin-top: -37px;
  margin-right: 4px;
  height: 42px ;
  border-radius: 4px;
}

.dispnone {
  display: none;
}

.textAlignCenter {
  text-align: center;
}

.btn-fcad-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.btn-deny,.btn-approve {
  width: 140px;
  height: auto;
  border-radius: 4px;
  text-align: center;
}

.btn-ack {
  width: auto;
  height: auto;
  border-radius: 4px;
  text-align: center;
}

textarea.form-control.incident-desc-field {
  min-height: 200px;
}